/* Empty. Add your own CSS if you like */
@media screen and (max-height: 480px)
{

  .bar-stable 
  {
    display: none;
  }
  .tab-nav {
    top:0;
  }
.has-tabs,
.bar-footer.has-tabs {
    bottom:0;
  }

}