<ion-view view-title="Map">
  <ion-content>
<div class="list">
  <label class="item item-input item-select">
    <button class="button button-dark" onclick='FoorTOSelect("1");'>
      Floor 1
    </button>
    <button class="button button-dark" onclick='FoorTOSelect("2");'>
      Floor 2
    </button>
    <button class="button button-dark" onclick="FoorTOSelect('3');">
      Floor 3
    </button>
    <button  class="button button-dark" onclick="FoorTOSelect('4');">
    Floor 4
    </button>
  </label>

</div>
    <div id="floorsplan">
      <img id="floorsplanmap" src="maps\Floor1.png">
    </div>
  </ion-content>
</ion-view>
