<ion-view view-title="Code Camp Schedule">
  <ion-content>
   
   <label class="item item-input item-select">
     <div class="input-label">
      Choose a Session Track
    </div>
     <select name="SessionTrackSelected" id="SessionTrackSelected"
      ng-model="SessionTrackSelected" ng-options="o as o for o in sessionTracks">
      </select>
   </label>
   
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="session in sessions| filter: session.SessionTracks=SessionTrackSelected" type="item-text-wrap" href="#/tab/session/{{session.SessionID}}">
        <img ng-src="{{session.SpeakerImage}}" onerror="this.src='images/NoProfilePic.jpg';">
        <h2>{{session.SessionTracks}}</h2>
        <p>{{session.SpeakerName}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="bookmark(session)">
          Bookmark
        </ion-option-button>
        
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>

