<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Sessions" icon-off="ion-ios-alarm-outline" icon-on="ion-ios-alarm" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Speakers" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/speakers">
    <ion-nav-view name="tab-speakers"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Map" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Social" icon-off="ion-social-twitter-outline" icon-on="ion-social-twitter" href="#/tab/social">
    <ion-nav-view name="tab-social"></ion-nav-view>
  </ion-tab>

</ion-tabs>
