
        
    <center>

        <table style="width: 744px; font-size: 24pt" cellpadding="20px">

            <tr style="text-align: center">
                <td colspan="2" style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black">Diamond Sponsors</span>
                </td>
            </tr>

            <tr>
                <td style="text-align: center;">
                
                    <span style="font-size: 12pt">
                        <img alt="Microsoft" src="images/Diamond/Microsoft.jpg" /><br />
                        <a href="http://msdn.microsoft.com" target="_blank">msdn.microsoft.com</a></span>
                </td>  

                <td style="text-align: center;">
                        <img alt="Nova University" src="images/Diamond/NSU-CEC-BlueGray.jpg" width="200" /><br />
                        <span style="font-size: 12pt"><a href="http://www.cec.nova.edu" target="_blank">www.cec.nova.edu</a>
               
                </td>
            
            </tr>






        </table>

        <table style="width: 744px; font-size: 24pt" cellpadding="20px">

            <tr style="text-align: center">
                <td colspan="2" style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black">Platinum Sponsors</span>
                </td>
            </tr>

            <tr style="text-align: center">

                <td style="text-align: center" width="50%">
                        <img alt="Sherlock" src="images/Platinum/SherlockTalent-WebLogo.jpg" width="150" /><br />
                        <span style="font-size: 12pt"><a href="http://www.SherlockTalent.com" target="_blank">www.SherlockTalent.com</a>
                        </span>
                </td>


               <td style="text-align: center" width="50%"> 
                    <img alt="Infragistics" src="images/Platinum/Infragistics_horz_logo.png" width="350" /><br />
                    <a href="http://www.infragistics.com/" target="_blank"><span style="font-size: 12pt">www.infragistics.com</span> </a>
               </td>     
            </tr>

            <tr style="text-align: center">

                <td style="text-align: center">
                        <img alt="Champion" src="images/Platinum/CSG-MessageOps.jpg" width="180" /><br />
                        <span style="font-size: 12pt"><a href="http://www.championsg.com/" target="_blank">www.championsg.com/</a>
                        </span>     
                </td> 

                <td style="text-align: center">
                    <img alt="Signature Consultants" src="images/Platinum/HR Signature Logo.png" width="300" /><br />
                    <span style="font-size: 12pt"><a href="http://www.sigconsult.com" target="_blank">www.sigconsult.com</a></span>                    
                </td>     
            </tr>

        </table>

        <table style="width: 744px; font-size: 24pt" cellpadding="20px">
            <tr style="text-align: center">
                <td colspan="2" style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black">Gold Sponsors</span>
                </td>
            </tr>                            
        </table>

        <table style="width: 744px; font-size: 24pt"  cellpadding="20px">
            <tr style="text-align: center">
               <td style="text-align: center" width="50%"> 
                    <img alt="JetBrains" src="images/Gold/JetBrains.jpg" width="150"/><br />
                    <a href="http://www.jetbrains.com" target="_blank"><span style="font-size: 12pt">www.jetbrains.com</span> </a>
               </td> 

               <td style="text-align: center" width="50%"> 
                    <img alt="Sapien" src="images/Gold/SAPIEN_button_logo_w_Text_1inx1in.jpg" width="150"/><br />
                    <a href="http://www.sapien.com" target="_blank"><span style="font-size: 12pt">www.sapien.com</span> </a>
               </td> 
            </tr>

            <tr>
                <td style="text-align: center">
                    <img alt="Consultis" src="images/Gold/Consultis Logo.gif" width="240" /><br />
                    <span style="font-size: 12pt"><a href="http://www.Consultis.com" target="_blank">www.Consultis.com</a></span>                    
                </td>  

                <td style="text-align: center">
                    <img alt="TekPartners" src="images/Gold/TekPartners - new 2016.png" width="270" /><br />
                    <span style="font-size: 12pt"><a href="http://www.tekpartners.com/" target="_blank">www.tekpartners.com</a></span>                    
                </td>
            </tr>

            <tr>
                <td style="text-align: center">
                    <img alt="Twilio" src="images/Gold/Twilio_logo_red_small.jpg" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.twilio.com" target="_blank">www.twilio.com</a></span>        
                </td>   

                <td style="text-align: center">
                    <img alt="Alachisoft" src="images/Gold/Alachisoft-w-white-background.png" width="320" /><br />
                    <span style="font-size: 12pt"><a href="http://www.alachisoft.com/" target="_blank">www.alachisoft.com</a></span>        
                </td>   
            </tr>

            <tr>
                <td style="text-align: center">
                    <img alt="AutoNation" src="images/Gold/AutoNationlogo.jpg" width="300" /><br />
                    <span style="font-size: 12pt"><a href="https://www.autonation.com/" target="_blank">www.autonation.com</a></span>        
                </td>  
            </tr>
        </table>

        

        <br />
        <span style="color: gray"></span>
        <br />
        <table style="width: 744px; font-size: 24pt"  cellpadding="20px">
            <tr style="text-align: center">
                 <td colspan="2" style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black">Silver Sponsors</span>
                </td>

            </tr>

            <tr style="text-align: center">
                <td style="text-align: center">
                    <img alt="ComputerWays" src="images/Silver/cways.jpg" /><br />
                    <span style="font-size: 12pt"><a href="http://www.computerways.com" target="_blank">www.computerways.com</a></span>
                </td>

                  <td style="text-align: center" >
                
                    <img alt="Katarincic.com" src="images/Silver/katarinciccomlogo.png" width="320"/><br />
                    <a href="http://www.katarincic.com" target="_blank"><span style="font-size: 12pt">www.katarincic.com</span></a>
                       
                </td>
            </tr>
                   
            <tr style="text-align: center">

                <td style="text-align: center">
                    <img alt="XEQ" src="images/Silver/XEQLogo.bmp" width="150" /><br />
                    <span style="font-size: 12pt"><a href="http://www.xeq.com" target="_blank">www.xeq.com</a></span>                    
                </td>   

                <td style="text-align: center">    
                    <span style="font-size: 12pt">
                        <img alt="E2Marketing" src="images/Silver/2012-E2-logo.jpg" width="270" /><br />
                        <a href="http://www.e2mktg.com" target="_blank">www.e2mktg.com</a></span>        
                </td>   
            </tr>

            <tr style="text-align: center">
                <td style="text-align: center">
                    <img alt="octagon Search" src="images/Silver/OctagonTechLogo.png" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.OctagonTechnologyStaffing.com" target="_blank">www.OctagonTechnologyStaffing.com</a></span>                    
                </td> 

                <td style="text-align: center">
                    <img alt="Cozy Roc" src="images/Silver/Cozyroc-logo_v5_rectColor2.jpg" width="300px"/><br />
                    <a href="http://www.cozyroc.com" target="_blank"><span style="font-size: 12pt">www.cozyroc.com</span>
                    </a>                   
                </td>   
            </tr> 

            <tr style="text-align: center">
                <td style="text-align: center">
                    <img alt="Computer Aid, Inc" src="images/Silver/ComputerAid_Logo2.jpg" width="220" /><br />
                    <span style="font-size: 12pt"><a href="http://www.compaid.com/" target="_blank">www.compaid.com</a></span>                    
                </td> 

                <td style="text-align: center" >
                    <img alt="Tek Systems" src="images/silver/Teksystems Logo.JPG" width="300" /><br />
                    <a href="http://www.teksystems.com/" target="_blank"><span style="font-size: 12pt">www.teksystems.com</span></a>
                </td>   
            </tr> 

            <tr style="text-align: center">
                <td style="text-align: center">
                    <img alt="Idera" src="images/Silver/IDERA-Logo-forLightBackgrounds.png" width="350" /><br />
                    <span style="font-size: 12pt"><a href="http://www.idera.com/" target="_blank">www.idera.com</a></span>                    
                </td> 

                <td style="text-align: center">
                    <img alt="Robert Half" src="images/Silver/rht_logo_c.gif" width="300" /><br />
                    <span style="font-size: 12pt"><a href="http://www.rht.com/" target="_blank">www.rht.com</a></span>                    
                </td> 
            </tr>

            <tr style="text-align: center">
                 <td style="text-align: center" >            
                    <img alt="Blue Syntax" src="images/Silver/BlueSyntaxLogo.jpg" width="280" /><br />
                    <span style="font-size: 12pt"><a href="http://www.bluesyntax.net/" target="_blank">www.bluesyntax.net</a></span>          
                </td>  

                <td style="text-align: center">
                    <img alt="Resultz" src="images/Silver/Rezult Technology logo.jpg" width="230" /><br />
                    <span style="font-size: 12pt"><a href="http://www.rezultgroup.com/" target="_blank">www.rezultgroup.com</a></span>         
                </td>   
            </tr>

            <tr style="text-align: center">
                 <td style="text-align: center" >            
                    <img alt="e-builder" src="images/Silver/logo-eb-black@2x.png" width="280" /><br />
                    <span style="font-size: 12pt"><a href="http://www.e-builder.net/" target="_blank">www.e-builder.net</a></span>          
                </td>  
                 
                <td style="text-align: center">
                    <img alt="Apprenda" src="images/Silver/Apprenda_logo.png" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.apprenda.com" target="_blank">www.apprenda.com</a></span>        

                </td>   
            </tr>
        </table>
        <br />
        <br />

        <br />
        <table style="width: 744px; font-size: 24pt"  cellpadding="20px">
            <tr style="text-align: center">
                 <td colspan="2" style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black">Bronze Sponsors</span>
                </td>

            </tr>
        </table>


        <table style="width: 744px; font-size: 24pt">
            <tr style="text-align: center">

               <td style="text-align: center" width="50%">
                   <br />
                    <img alt="Ultimate Softare" src="images/Bronze/Ultimate-Software-People-First-JPEG.jpg" width="220px"/><br />
                    <a href="http://www.ultimatesoftware.com" target="_blank"><span style="font-size: 12pt">www.ultimatesoftware.com</span></a>                    
                </td> 

                <td style="text-align: center">    
                    <img alt="SyncFusion" src="images/Bronze/SF_Logo_Transparent Background_346x86_PNG.png" width="300" /><br />
                    <span style="font-size: 12pt"><a href="http://www.syncfusion.com?source=SouthFLCC17" target="_blank">http://www.syncfusion.com</a></span>      
                </td>   
            </tr>   

            <tr>
               <td style="text-align: center"> 
                   <br />
                   <img alt="Grape City" src="images/Bronze/gclogo.jpg" width="300" />
                   <br />
                   <span style="font-size: 12pt"><a href="http://tools.grapecity.com/?utm_source=SoFLCodeCamp%20Code%20Camp&utm_medium=logo%20hyperlink&utm_campaign=Tools.GrapeCity" target="_blank">tools.grapecity.com</a></span> 
               </td>

               <td style="text-align: center"> 
                   <br />
                   <img alt="Cobb Information Technologies" src="images/Bronze/cit_logo.png" width="300" />
                   <br />
                   <span style="font-size: 12pt"><a href="http://daveslog.com/sponsorship/" target="_blank">daveslog.com/sponsorship</a></span> 
               </td>
            </tr>
       </table>


        <br />
        <br />


        <table style="width: 744px; font-size: 24pt">
            <tr style="text-align: center">
                <td colspan="2" style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black">Active Supporters</span>
                </td>
            </tr>   

        </table>

        <table style="width: 744px; font-size: 24pt">
            <tr style="text-align: center">

                <td style="text-align: center">
                    <img alt="Everleap" src="images/Active/everleap_logo-tag_400wide.jpg" width="200" /><br />
                    <span style="font-size: 12pt"><a href="http://www.everleap.com/go/go.aspx?i=21199" target="_blank">www.everleap.com</a></span>                    
                </td>   

                <td style="text-align: center">  
                    <img alt="Code Magazine" src="images/Active/CODEMagazine_Small.jpg"/><br />
                    <a href="http://www.codemag.com/" target="_blank"><span style="font-size: 12pt">www.codemag.com</span></a>                            
                </td>   
            </tr>   

            <tr style="text-align: center">
                <td style="text-align: center">
                    <br />
                    <img alt="Murach" src="images/Active/murachbooks_red_145px.png" width="150" /><br />
                    <span style="font-size: 12pt"><a href="http://www.murach.com/" target="_blank">www.murach.com</a></span>
                </td>

                <td style="text-align: center">
                    <br />
                    <img alt="Steema" src="images/Active/Steema_logo.png" width="220" /><br />
                    <span style="font-size: 12pt"><a href="https://www.steema.com/" target="_blank">www.steema.com</a></span>
                </td>
            </tr>

            <tr>
                <td style="text-align: center">
                    <br />
                    <img alt="Discount ASP" src="images/Active/DiscountASP.jpg" width="220" /><br />
                    <span style="font-size: 12pt"><a href="http://discountasp.com/" target="_blank">discountasp.com</a></span>
                </td>

                 <td style="text-align: center">
                    <img alt="DevExpress" src="images/Active/DXLogo_Oct2013.jpg" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.devexpress.com" target="_blank">www.devexpress.com</a></span>                    
                </td> 
            </tr>

            <tr>
                <td style="text-align: center">
                    <br />
                    <img alt="Red Gate" src="images/Active/Red Gate Logo 2013_OnWhite_RGB.png" width="200" /><br />
                    <span style="font-size: 12pt"><a href="http://www.red-gate.com/" target="_blank">www.red-gate.com</a></span>            
                </td> 

                <td style="text-align: center">
                    <br />
                    <img alt="Indulgent Gifts" src="images/Active/Indulgent Gifts Logo.png" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.indulgentgifts.com" target="_blank">www.indulgentgifts.com</a></span>            
                </td> 
            </tr>

       </table>

        <br /><br />

        <table style="width: 744px; font-size: 24pt">
            <tr style="text-align: center">
                <td colspan="2" style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black">Community</span>
                </td>
            </tr>

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="Russ Tool Shed" src="images/Community/RussToolShedNetwork3b.jpg" /><br />
                    <a href="http://www.russtoolshed.net" target="_blank"><span style="font-size: 12pt">www.russtoolshed.net</span></a><span style="font-size: 12pt"> </span>
                </td>
                <td style="text-align: center">
                    <img alt="DevFish" src="images/logopics/dfbanner1.jpg" width="300" /><br />
                    <a href="http://www.devfish.net" target="_blank"><span style="font-size: 12pt">www.devfish.net</span></a><span
                        style="font-size: 12pt"> </span>
                </td>
            </tr>

            <tr style="height: 145px; text-align: center">
                <td colspan="2" style="text-align: center">
                    <a href="http://www.fladotnet.com" target="_blank">
                        <img alt="Florida .NET User Groups" src="images/Community/fladotnet_Logo_Combined.jpg" />
                        <br />
                        <span style="font-size: 10pt">www.fladotnet.com/</span> </a>
                </td>
            </tr>

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="Gold Coast Users Group" src="images/Community/GCUsersGroup.org.JPG" /><br />
                    <a href="http://GCUsersGroup.org" target="_blank"><span style="font-size: 12pt">GCUsersGroup.org</span></a><span
                        style="font-size: 12pt"> </span></a>
                </td>
                <td style="text-align: center">
                    <img alt="Miami Users Group" src="images/Community/mug_logo.gif" width="330" /><br />
                    <a href="http://miamiusersgroup.org" target="_blank"><span style="font-size: 12pt">miamiusersgroup.org</span></a><span
                        style="font-size: 12pt"> </span></a>
                </td>
            </tr>      
                          
            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="South Florida SQL User Groups" src="images/Community/SFSSUGLogo.png"  width="200" /><br />
                    <a href=" http://www.sfssug.com/" target="_blank"><span style="font-size: 12pt">www.sfssug.com</span></a><span
                        style="font-size: 12pt"> </span></a>
                </td>

                <td style="text-align: center">
                    <img alt="South Florida Windows 8 Developers" src="images/Community/SoFLWin8.jpg"  width="160"/><br />
                    <a href="http://www.meetup.com/South-Florida-Windows-8-Developers/" target="_blank" 
                        style="font-size: 12pt">www.meetup.com/<br />South-Florida-Windows-8-Developers</a>
                </td>

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="SMUG" src="images/Community/AzureFloridaAssociation.png"  width="200"/><br />
                    <a href="http://www.linkedin.com/groups?gid=4177626" target="_blank" 
                        style="font-size: 12pt">www.linkedin.com/groups?gid=4177626 </a>
                </td>
                <td style="text-align: center">
                    <img alt="dotNet Miami" src="images/Community/dotnetmiami_170_60.png"  width="200"/><br />
                    <a href="http://dotnetmiami.com" target="_blank" style="font-size: 12pt">dotnetmiami.com</a>
                </td>
            </tr>   
            
                     
            <tr style="height: 145px; text-align: center">

                <td style="text-align: center">
                    <img alt="Code For FTL" src="images/Community/CodeForFTL_Logo.png"  width="180"/><br />
                    <a href="http://codeforftl.org/" target="_blank" style="font-size: 12pt">codeforftl.org</a>
                </td>

                <td style="text-align: center">
                    <img alt="Girl Develop IT" src="images/Community/gdi_logo_badge.png"  width="180"/><br />
                    <a href="https://www.girldevelopit.com/chapters/miami-fort-lauderdale" target="_blank" style="font-size: 12pt">GDIMiami.com</a>
                </td>

            </tr>  

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="South Florida Agile Association" src="images/Community/SFAA horizental logo pic.png"  width="180"/><br />
                    <a href="http://southfaa.com/" target="_blank" style="font-size: 12pt">southfaa.com</a>
                </td>

                <td style="text-align: center">
                    <img alt="Launchcode" src="images/Community/LaunchCode_Logo.png"  width="240"/><br />
                    <a href="http://www.launchcode.org" target="_blank" style="font-size: 12pt">www.launchcode.org</a>
                </td>
            </tr> 

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="FACUG" src="images/Community/FACUG_Logo.jpg"  width="150"/><br />
                    <a href="http://facug.org/" target="_blank" style="font-size: 12pt">facug.org</a>
                    <br />
                    <a href="http://facug.org/Assets/images/Conference/2016ConsumerTechExpo.pdf" target="_blank" style="font-size: 12pt">2016ConsumerTechExpo.pdf</a>
                </td>

                <td style="text-align: center">
                    <img alt="awayfromthekeyboard.com" src="images/Community/Away_from_the_Keyboard_small.png"  width="240"/><br />
                    <a href="http://awayfromthekeyboard.com" target="_blank" style="font-size: 12pt">awayfromthekeyboard.com</a>
                </td>
            </tr>    
                
            <tr style="text-align: center">
                <td style="text-align: center">
                    <br />
                    <img alt="Apretaste" src="images/Community/apretaste.logo.big.transp.png"  width="180"/><br />
                    <a href="http://www.Apretaste.com" target="_blank" style="font-size: 12pt">Apretaste.com</a>
                </td>

                <td style="text-align: center">
                    <br />
                    <img alt="ubuntu.png" src="images/Community/ubuntu.png"  width="150"/><br />
                    <a href="http://www.meetup.com/Ubuntu-Florida-LoCo-Team/" target="_blank" style="font-size: 12pt">www.meetup.com</a>
                </td>
            </tr>  
                
            <tr style="text-align: center">
                <td style="text-align: center">
                    <br />
                    <img alt="Apretaste" src="images/Community/SouthFloridaTestAutomation.jpg"  width="180"/><br />
                    <a href="https://www.meetup.com/South-Florida-Test-Automation/" target="_blank" style="font-size: 12pt">www.meetup.com</a>
                    <br />
                </td>

                <td style="text-align: center">
                    <br />
                    <img alt="Miami Scala" src="images/Community/MiamiScala.png"  width="300"/><br />
                    <a href="https://www.meetup.com/Miami-Scala-Enthusiasts/" target="_blank" style="font-size: 12pt">www.meetup.com</a>
                    <br />
                </td>
            </tr>
                
            <tr style="text-align: center">
                <td style="text-align: center">
                    <br />
                    <img alt="Miami Word Camp" src="images/Community/wcmia-logo-stand.png"  width="220"/><br />
                    <a href="https://2017.miami.wordcamp.org/" target="_blank" style="font-size: 12pt">2017.miami.wordcamp.org</a>
                    <br />
                </td>

                <td style="text-align: center">
                    <br />
                    <img alt="Computer Preservation" src="images/Community/ComputerPreservationLogo.png"  width="300"/><br />
                    <a href="http://www.computerpreservation.com/" target="_blank" style="font-size: 12pt">www.computerpreservation.com</a>
                    <br />
                </td>
            </tr>  
                
            <tr style="text-align: center">
                <td style="text-align: center">
                    <br />
                    <img alt="WITI" src="images/Community/witi.com_logo.jpg"  width="260"/><br />
                    <a href="https://www.witi.com/" target="_blank" style="font-size: 12pt">www.witi.com</a>
                    <br />
                    <br />
                </td>

                <td style="text-align: center">
                    <br />
                    <img alt="Boca JS" src="images/Community/bocajs.jpeg"  width="220"/><br />
                    <a href="https://www.meetup.com/Boca-JS/" target="_blank" style="font-size: 12pt">www.meetup.com/Boca-JS</a>
                    <br />
                    <br />
                </td>
            </tr>
                

                                                                                                                                    
        </table>

    </center>
    


