<ion-view view-title="Sponsors">
  <ion-content>
    <style>
    .desc {
      color:black;
      display:block;
      margin: 0 auto 0 auto;
      text-align: center;
      font-size:2em;
      padding: 0 10px 20px 10px;
    }
    img {
      max-width: 100%;
    }
    </style>
   <div ng-repeat="sponsor in sponsors">
      <div class="desc">
        <img ng-src="http://www.fladotnet.com/codecamp/images/{{sponsor.SponsorTypeName}}/{{sponsor.SponsorLogo}}" align="center"  /> <BR />
        <H1>{{sponsor.SponsorName}} </H1>
        <h3>{{sponsor.SponsorTypeName}} Sponsor</h3>
        <BR /></div>
      <hr style="width:80%; color: black;" />
    </div>
  </ion-content>
</ion-view>
      
      
      