<ion-view view-title="Sponsors">
  <ion-content>

<center>
<style>
  tr {height:50px;}
  td {color:#ffcc00;vertical-align:middle;}
  table {margin-top:50px;}
</style>

<table style="width: 100%; font-size: 24pt" cellpadding="20px">

            <tr style="text-align: center">
                <td style="background-color: black; text-align: center">
                    Mobile App Sponsors
                </td>
            </tr>

            <tr>
                <td style="text-align: center;">
                
                    <span style="font-size: 12pt">
                        <img alt="TechEvents.ninja" src="images/logo-wide.png"  width="200"/><br />
                        <a href="http://techevents.ninja/app" target="_blank">TechEvents.Ninja</a></span>
                </td>  
            </tr>
</table>

<table style="width: 100%; font-size: 24pt" cellpadding="20px">

            <tr style="text-align: center">
                <td style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black;vertical-align: none;">Diamond Sponsors</span>
                </td>
            </tr>

            <tr>
                <td style="text-align: center;">
                
                    <span style="font-size: 12pt">
                        <img alt="Microsoft" src="http://www.fladotnet.com/codecamp/images/Diamond/Microsoft.jpg" /><br />
                        <a href="http://msdn.microsoft.com" target="_blank">msdn.microsoft.com</a></span>
                </td>  
            </tr><tr>
                <td style="text-align: center;">
                        <img alt="Nova University" src="http://www.fladotnet.com/codecamp/images/Diamond/NSU-CEC-BlueGray.jpg" width="200" /><br />
                        <span style="font-size: 12pt"><a href="http://www.cec.nova.edu" target="_blank">www.cec.nova.edu</a>
               
                </td>
            
            </tr>






        </table>

        <table style="width: 100%; font-size: 24pt" cellpadding="20px">

            <tr style="text-align: center">
                <td style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black;vertical-align: none;">Platinum Sponsors</span>
                </td>
            </tr>

            <tr style="text-align: center">

                <td style="text-align: center" width="50%">
                        <img alt="Sherlock" src="http://www.fladotnet.com/codecamp/images/Platinum/SherlockTalent-WebLogo.jpg" width="150" /><br />
                        <span style="font-size: 12pt"><a href="http://www.SherlockTalent.com" target="_blank">www.SherlockTalent.com/</a>
                        </span>
                </td>
    </tr><tr>
               <td style="text-align: center;">
                    <img alt="Infragistics" width="150" src="http://www.fladotnet.com/codecamp/images/Platinum/Infragistics-new-logo-verticle.jpg" /><br />
                    <span style="font-size: 12pt"><a href="http://www.infragistics.com" target="_blank">www.infragistics.com</a></span>
                </td>
            </tr>
</tr><tr>
            <tr>
                <td style="text-align: center">
                    <img alt="Agile Thought" src="http://www.fladotnet.com/codecamp/images/Platinum/AgileThought-logo-inside-box-high-res.jpg" width="270" /><br />
                    <span style="font-size: 12pt"><a href="http://www.agilethought.com/" target="_blank">www.agilethought.com</a></span>               
                </td> 
</tr><tr>
                <td style="text-align: center">
                    <img alt="Florida Vocational Institute" src="http://www.fladotnet.com/codecamp/images/Platinum/florida without the seal D-01.jpg" width="270" /><br />
                    <span style="font-size: 12pt"><a href="http://www.fvi.edu/" target="_blank">www.fvi.edu</a></span>               
                </td> 
            </tr>
</tr><tr>
            <tr>
                <td style="text-align: center">
                    <img alt="Twilio" src="http://www.fladotnet.com/codecamp/images/Platinum/twilio logo.png" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.twilio.com" target="_blank">http://www.twilio.com</a></span>        
                </td>   
</tr><tr>
                <td style="text-align: center">
                        <img alt="Champion" src="http://www.fladotnet.com/codecamp/images/Platinum/CSG-MessageOps.jpg" width="180" /><br />
                        <span style="font-size: 12pt"><a href="http://www.championsg.com/" target="_blank">http://www.championsg.com/</a>
                        </span>     
                </td> 
            </tr>



        </table>

        <table style="width: 100%; font-size: 24pt" cellpadding="20px">

            <tr style="text-align: center">
                <td style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black;vertical-align: none;">Gold Sponsors</span>
                </td>
            </tr>
</tr><tr>
            <tr>
                 <td style="text-align: center" >            
                    <img alt="Blue Syntax" src="http://www.fladotnet.com/codecamp/images/Gold/EnzoUnified-original.png" width="300" /><br />
                    <span style="font-size: 12pt"><a href="http://www.enzounified.com" target="_blank">www.enzounified.com</a></span>          
                </td>  
</tr><tr>
                <td style="text-align: center">
                    <img alt="octagon Search" src="http://www.fladotnet.com/codecamp/images/Gold/OctagonTechLogo.png" width="220" /><br />
                    <span style="font-size: 12pt"><a href="http://www.OctagonTechnologyStaffing.com" target="_blank">www.OctagonTechnologyStaffing.com</a></span>                    
                </td>  
            </tr>

            <tr>
                <td style="text-align: center" >
                    <img alt="Tek Systems" src="http://www.fladotnet.com/codecamp/images/gold/Teksystems Logo.JPG" width="300" /><br />
                    <a href="http://www.teksystems.com/" target="_blank"><span style="font-size: 12pt">www.teksystems.com</span></a>
                </td>  
</tr><tr>
                <td style="text-align: center"> 

                    <img alt="JetBrains" src="http://www.fladotnet.com/codecamp/images/Gold/JetBrains.jpg" width="150"/><br />
                    <a href="http://www.jetbrains.com" target="_blank"><span style="font-size: 12pt">www.jetbrains.com</span> </a>
               </td> 
            </tr>

            <tr>
                <td style="text-align: center">
                    <img alt="Signature Consultants" src="http://www.fladotnet.com/codecamp/images/Gold/HR Signature Logo.png" width="220" /><br />
                    <span style="font-size: 12pt"><a href="http://www.sigconsult.com" target="_blank">www.sigconsult.com</a></span>                    
                </td>  
</tr><tr>
                <td style="text-align: center">
                    <img alt="TekPartners" src="http://www.fladotnet.com/codecamp/images/Gold/TekPartners.jpg" width="240" /><br />
                    <span style="font-size: 12pt"><a href="http://www.tekpartners.com/" target="_blank">www.tekpartners.com</a></span>                    
                </td> 
            </tr>

            <tr>
                <td style="text-align: center" >   
                    <img alt="Text Control" src="http://www.fladotnet.com/codecamp/images/Gold/text_control_logo.png"  width="300" /><br />
                    <a href="http://www.TextControl.com" target="_blank"><span style="font-size: 12pt">www.TextControl.com</span></a>                                             
                </td> 
</tr><tr>
                <td style="text-align: center" >   
                    <img alt="OutSystems" src="http://www.fladotnet.com/codecamp/images/Gold/OutSystems_glow_500x150.png"  width="300" /><br />
                    <a href="http://www.outsystems.com" target="_blank"><span style="font-size: 12pt">www.outsystems.com</span></a>                                             
                </td> 
            </tr>






            
           
            
                         





    
 
                    
             



                            
        </table>

        <br />
        <span style="color: gray"></span>
        <br />
        <table style="width: 100%; font-size: 24pt"  cellpadding="20px">
            <tr style="text-align: center">
                 <td style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black;vertical-align: none;">Silver Sponsors</span>
                </td>

            </tr>

            <tr style="text-align: center">
                <td style="text-align: center">
                    <img alt="ComputerWays" src="http://www.fladotnet.com/codecamp/images/Silver/cways.jpg" /><br />
                    <span style="font-size: 12pt"><a href="http://www.computerways.com" target="_blank">www.computerways.com</a></span>
                </td>
</tr><tr>
                  <td style="text-align: center" >
                
                    <img alt="Katarincic.com" src="http://www.fladotnet.com/codecamp/images/Silver/katarinciccomlogo.png" width="320"/><br />
                    <a href="http://www.katarincic.com" target="_blank"><span style="font-size: 12pt">www.katarincic.com</span></a>
                       
                </td>
            </tr>
                   
            <tr style="text-align: center">

                <td style="text-align: center">
                    <img alt="XEQ" src="http://www.fladotnet.com/codecamp/images/Silver/XEQLogo.bmp" width="150" /><br />
                    <span style="font-size: 12pt"><a href="http://www.xeq.com" target="_blank">www.xeq.com</a></span>                    
                </td>   
</tr><tr>
                <td style="text-align: center">    
                    <span style="font-size: 12pt">
                        <img alt="E2Marketing" src="http://www.fladotnet.com/codecamp/images/Silver/2012-E2-logo.jpg" width="270" /><br />
                        <a href="http://www.e2mktg.com" target="_blank">www.e2mktg.com</a></span>        
                </td>   
            </tr>

            <tr style="text-align: center">

                <td style="text-align: center">
                    <img alt="Gravity IT Resources" src="http://www.fladotnet.com/codecamp/images/Silver/gravity-transparent-copy.png" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://gravityitresources.com/" target="_blank">gravityitresources.com</a></span>                    
                </td>   
</tr><tr>
                <td style="text-align: center">   
                    <img alt="Kforce" src="http://www.fladotnet.com/codecamp/images/Silver/KForce.jpg" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.kforce.com" target="_blank">www.kforce.com</a></span>                                    
                </td>   
            </tr>
            
            <tr>
               <td style="text-align: center">
                    <img alt="Cozy Roc" src="http://www.fladotnet.com/codecamp/images/Silver/Cozyroc-logo_v5_rectColor2.jpg" width="300px"/><br />
                    <a href="http://www.cozyroc.com" target="_blank"><span style="font-size: 12pt">www.cozyroc.com</span></a>                    
                </td> 
   </tr><tr>               
               <td style="text-align: center">
                    <img alt="Arrow Designs" src="http://www.fladotnet.com/codecamp/images/Silver/Arrow.png" width="250" /><br />
                    <a href="http://www.arrowdesigns.com/" target="_blank"><span style="font-size: 12pt">www.arrowdesigns.com</span></a>    
               </td>
            </tr>

            <tr>
               <td style="text-align: center">
                    <img alt="Steven Douglas" src="http://www.fladotnet.com/codecamp/images/Silver/SDA with new tagline.JPG" width="250px"/><br />
                    <a href="http://www.stevendouglas.com" target="_blank"><span style="font-size: 12pt">www.stevendouglas.com</span></a>                    
                </td> 
</tr><tr>
               <td style="text-align: center">
                    <img alt="Ultimate Softare" src="http://www.fladotnet.com/codecamp/images/Silver/Ultimate-Software-People-First-JPEG.jpg" width="220px"/><br />
                    <a href="http://www.ultimatesoftware.com" target="_blank"><span style="font-size: 12pt">www.ultimatesoftware.com</span></a>                    
                </td> 
            </tr>        
            
            <tr>
                <td style="text-align: center">
                    <img alt="Robert Half" src="http://www.fladotnet.com/codecamp/images/Silver/rht_logo_c.gif" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.rht.com" target="_blank">www.rht.com</a></span>         
                </td>  
  </tr><tr>              
                <td style="text-align: center">
                    <img alt="Kentico" src="http://www.fladotnet.com/codecamp/images/Silver/kentico_rgb_bigger.png" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.kentico.com/" target="_blank">ww.kentico.com/</a></span>                    
                </td>                                    
            </tr>     
            
            <tr>
                <td style="text-align: center">
                    <img alt="Resultz" src="http://www.fladotnet.com/codecamp/images/Silver/Rezult Technology logo.jpg" width="230" /><br />
                    <span style="font-size: 12pt"><a href="http://www.rezultgroup.com/" target="_blank">www.rezultgroup.com</a></span>         
                </td>   
  </tr><tr>              
                <td style="text-align: center">
                    <img alt="St Thomas University" src="http://www.fladotnet.com/codecamp/images/Silver/2015 - School of Business Logo.jpg" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.stu.edu/" target="_blank">www.stu.edu</a></span>         
                </td>                                                 
            </tr>                      
                             




 






               </td> 


        </table>
        <br />
        <br />

        <br />
        <table style="width: 100%; font-size: 24pt"  cellpadding="20px">
            <tr style="text-align: center">
                 <td style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black;vertical-align: none;">Bronze Sponsors</span>
                </td>

            </tr>

            <tr style="text-align: center">
                <td style="text-align: center" width="50%">
                    <img alt="Palm Beach Software" src="http://www.fladotnet.com/codecamp/images/Bronze/PBSD_Logo.png" width="300" /><br />
                    <span style="font-size: 12pt"><a href="http://palmbeachsoftware.com/" target="_blank">www.palmbeachsoftware.com</a></span>                    
                </td>  
</tr><tr>
               <td>
                    <img alt="Grape City" src="http://www.fladotnet.com/codecamp/images/Bronze/gclogo.jpg" width="300" /><br />
                    <span style="font-size: 12pt"><a href="http://tools.grapecity.com/?utm_source=SoFLCodeCamp%20Code%20Camp&utm_medium=logo%20hyperlink&utm_campaign=Tools.GrapeCity" target="_blank">tools.grapecity.com</a></span> 
               </td>
            </tr>

            <tr style="text-align: center">
                <td style="text-align: center" width="50%">
                    <img alt="Aspose" src="http://www.fladotnet.com/codecamp/images/Bronze/Aspose Logo - Black.png" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.aspose.com/" target="_blank">www.aspose.com</a></span>                    
                </td>  
</tr><tr>
                <td style="text-align: center" width="50%">
                    <img alt="aajtech.com" src="http://www.fladotnet.com/codecamp/images/Bronze/AAL_LOGO.png" width="220" /><br />
                    <span style="font-size: 12pt"><a href="http://www.aajtech.com" target="_blank">www.aajtech.com</a></span>                    
                </td>  
            </tr>

            <tr>
                <td style="text-align: center" >   
                    <img alt="Apprenda" src="http://www.fladotnet.com/codecamp/images/Bronze/ApprendaLogo_RGB_Main.png"  width="260" /><br />
                    <a href="http://www.apprenda.com" target="_blank"><span style="font-size: 12pt">www.apprenda.com</span></a>                                             
                </td> 


            </tr>






        </table>
        <br />
        <br />



        <table style="width: 100%; font-size: 24pt">
            <tr style="text-align: center">
                <td style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black;vertical-align: none;">Active Supporters</span>
                </td>
            </tr>   
            
            <tr style="text-align: center">

                <td style="text-align: center">
                    <img alt="pluralsight.com" src="http://www.fladotnet.com/codecamp/images/Active/PS_logo_F-11.jpg" width="250" /><br />
                    <span style="font-size: 12pt"><a href="http://www.pluralsight.com" target="_blank">www.pluralsight.com</a></span>                    
                </td>   
</tr><tr>
                <td style="text-align: center">  
                    <img alt="Code Magazine" src="http://www.fladotnet.com/codecamp/images/Active/CODEMagazine_Small.jpg"/><br />
                    <a href="http://www.codemag.com/" target="_blank"><span style="font-size: 12pt">www.codemag.com</span></a>                            
                </td>   
            </tr>     
            
            <tr style="text-align: center">
                <td style="text-align: center">
                    <img alt="Steema" src="http://www.fladotnet.com/codecamp/images/Active/Steema_logo.png" width="230" /><br />
                    <span style="font-size: 12pt"><a href="http://www.steema.com" target="_blank">www.steema.com</a></span>                    
                </td>   
</tr><tr>
                <td style="text-align: center">
                    <img alt="Pearson" src="http://www.fladotnet.com/codecamp/images/Active/Pearson_informit_sponsor.jpg" width="200" /><br />
                    <span style="font-size: 12pt"><a href="http://www.InformIT.com" target="_blank">www.InformIT.com</a></span>   
                    <br />     
                    <br />            
                </td>   
            </tr>      
            
            <tr>
                <td style="text-align: center" valign="top">
                    <img alt="Telerik" src="http://www.fladotnet.com/codecamp/images/Active/BrandMark_Telerik_Horizontal_Small_Color.png" width="300"/><br />
                    <span style="font-size: 12pt"><a href="http://www.telerik.com" target="_blank">http://www.telerik.com</a></span>                    
                </td>   
</tr><tr>
                <td style="text-align: center">
                    <img alt="packtpub.com" src="http://www.fladotnet.com/codecamp/images/Active/packt_logo.png" width="220"/><br />
                    <span style="font-size: 12pt"><a href="http://www.packtpub.com" target="_blank">http://www.packtpub.com</a>
                    <br />   
                    <br />
                    </span>     
     
                    <span style="font-size: 12pt">Click to use Code Camp Discount Code: <a href="https://www.packtpub.com/?utm_source=RP-SFCODECAMP&utm_medium=referral&utm_campaign=SFCODECAMP50" target="_blank">SFCODECAMP50</a></span>    
                    <br />
                    <span style="font-size: 8pt">(Valid on ebooks and videos starting 2/15/2016 until 3/15/2016)</span>
                    <br />
                </td>   
            </tr>     
            
            <tr>
                <td style="text-align: center">
                    <img alt="PostSharp" src="http://www.fladotnet.com/codecamp/images/Active/PostSharpText_Light_402x78.png" width="300"/><br />
                    <span style="font-size: 12pt"><a href="http://www.postsharp.net" target="_blank">http://www.postsharp.net</a></span>                    
                </td>   
            </tr>

                                  



               
     
        </table>

        <br /><br />

        <table style="width: 100%; font-size: 24pt">
            <tr style="text-align: center">
                <td style="background-color: black; text-align: center">
                    <span style="color: #ffcc00; background-color: black;vertical-align: none;">Community</span>
                </td>
            </tr>

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="Russ Tool Shed" src="http://www.fladotnet.com/codecamp/images/Community/RussToolShedNetwork3b.jpg" /><br />
                    <a href="http://www.russtoolshed.net" target="_blank"><span style="font-size: 12pt">www.russtoolshed.net</span></a><span style="font-size: 12pt"> </span>
                </td>
                </tr><tr>
                <td style="text-align: center">
                    <img alt="DevFish" src="http://www.fladotnet.com/codecamp/images/logopics/dfbanner1.jpg" width="300" /><br />
                    <a href="http://www.devfish.net" target="_blank"><span style="font-size: 12pt">www.devfish.net</span></a><span
                        style="font-size: 12pt"> </span>
                </td>
            </tr>

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <a href="http://www.fladotnet.com" target="_blank">
                        <img alt="Florida .NET User Groups" src="http://www.fladotnet.com/codecamp/images/Community/fladotnet_Logo_Combined.jpg" />
                        <br />
                        <span style="font-size: 10pt">www.fladotnet.com/</span> </a>
                </td>
            </tr>

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="Gold Coast Users Group" src="http://www.fladotnet.com/codecamp/images/Community/GCUsersGroup.org.JPG" /><br />
                    <a href="http://GCUsersGroup.org" target="_blank"><span style="font-size: 12pt">GCUsersGroup.org</span></a><span
                        style="font-size: 12pt"> </span></a>
                </td>
                </tr><tr>
                <td style="text-align: center">
                    <img alt="Miami Users Group" src="http://www.fladotnet.com/codecamp/images/Community/mug_logo.gif" width="330" /><br />
                    <a href="http://miamiusersgroup.org" target="_blank"><span style="font-size: 12pt">miamiusersgroup.org</span></a><span
                        style="font-size: 12pt"> </span></a>
                </td>
            </tr>      
                          
            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="South Florida SQL User Groups" src="http://www.fladotnet.com/codecamp/images/Community/SFSSUGLogo.png"  width="200" /><br />
                    <a href=" http://www.sfssug.com/" target="_blank"><span style="font-size: 12pt">www.sfssug.com</span></a><span
                        style="font-size: 12pt"> </span></a>
                </td>
</tr><tr>
                <td style="text-align: center">
                    <img alt="South Florida Windows 8 Developers" src="http://www.fladotnet.com/codecamp/images/Community/SoFLWin8.jpg"  width="160"/><br />
                    <a href="http://www.meetup.com/South-Florida-Windows-8-Developers/" target="_blank" 
                        style="font-size: 12pt">www.meetup.com/<br />South-Florida-Windows-8-Developers</a>
                </td>

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="SMUG" src="http://www.fladotnet.com/codecamp/images/Community/AzureFloridaAssociation.png"  width="200"/><br />
                    <a href="http://www.linkedin.com/groups?gid=4177626" target="_blank" 
                        style="font-size: 12pt">www.linkedin.com/groups?gid=4177626 </a>
                </td></tr><tr>
                <td style="text-align: center">
                    <img alt="dotNet Miami" src="http://www.fladotnet.com/codecamp/images/Community/dotnetmiami_170_60.png"  width="200"/><br />
                    <a href="http://dotnetmiami.com" target="_blank" style="font-size: 12pt">dotnetmiami.com</a>
                </td>
            </tr>   
            
                     
            <tr style="height: 145px; text-align: center">

                <td style="text-align: center">
                    <img alt="Code For FTL" src="http://www.fladotnet.com/codecamp/images/Community/CodeForFTL_Logo.png"  width="180"/><br />
                    <a href="http://codeforftl.org/" target="_blank" style="font-size: 12pt">codeforftl.org</a>
                </td>
</tr><tr>
                <td style="text-align: center">
                    <img alt="Girl Develop IT" src="http://www.fladotnet.com/codecamp/images/Community/gdi_logo_badge.png"  width="180"/><br />
                    <a href="https://www.girldevelopit.com/chapters/miami-fort-lauderdale" target="_blank" style="font-size: 12pt">GDIMiami.com</a>
                </td>

            </tr>  

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="South Florida Agile Association" src="http://www.fladotnet.com/codecamp/images/Community/SFAA horizental logo pic.png"  width="180"/><br />
                    <a href="http://southfaa.com/" target="_blank" style="font-size: 12pt">southfaa.com</a>
                </td>
</tr><tr>
                <td style="text-align: center">
                    <img alt="Launchcode" src="http://www.fladotnet.com/codecamp/images/Community/LaunchCode_Logo.png"  width="240"/><br />
                    <a href="http://www.launchcode.org" target="_blank" style="font-size: 12pt">www.launchcode.org</a>
                </td>
            </tr> 

            <tr style="height: 145px; text-align: center">
                <td style="text-align: center">
                    <img alt="FACUG" src="http://www.fladotnet.com/codecamp/images/Community/FACUG_Logo.jpg"  width="150"/><br />
                    <a href="http://facug.org/" target="_blank" style="font-size: 12pt">facug.org</a>
                    <br />
                    <a href="http://facug.org/Assets/images/Conference/2016ConsumerTechExpo.pdf" target="_blank" style="font-size: 12pt">2016ConsumerTechExpo.pdf</a>
                </td>
</tr><tr>
                <td style="text-align: center">
                    <img alt="awayfromthekeyboard.com" src="http://www.fladotnet.com/codecamp/images/Community/Away_from_the_Keyboard_small.png"  width="240"/><br />
                    <a href="http://awayfromthekeyboard.com" target="_blank" style="font-size: 12pt">awayfromthekeyboard.com</a>
                </td>
            </tr>    
                
            <tr style="text-align: center">
                <td style="text-align: center">
                    <br />
                    <img alt="Apretaste" src="http://www.fladotnet.com/codecamp/images/Community/apretaste.logo.big.transp.png"  width="180"/><br />
                    <a href="http://www.Apretaste.com" target="_blank" style="font-size: 12pt">Apretaste.com</a>
                </td>
</tr><tr>
                <td style="text-align: center">
                    <br />
                    <img alt="ubuntu.png" src="http://www.fladotnet.com/codecamp/images/Community/ubuntu.png"  width="150"/><br />
                    <a href="http://www.meetup.com/Ubuntu-Florida-LoCo-Team/" target="_blank" style="font-size: 12pt">http://www.meetup.com/<br />Ubuntu-Florida-LoCo-Team/</a>
                </td>
            </tr>                                                                       
        </table>
    </center>

  



</center>

  </ion-content>
</ion-view>
             