<ion-view view-title="Map">
  <ion-content>
    <center>
          <button class="button button-dark mapButton" id="1" ng-click="clickFloor(1)">
            Floor 1
          </button>
          <button class="button button-dark mapButton" id="2" ng-click="clickFloor(2)"> 
            Floor 2
          </button>
          <button class="button button-dark mapButton" id="3" ng-click="clickFloor(3)">
            Floor 3
          </button>
          <button  class="button button-dark mapButton" id="5" ng-click="clickFloor(5)">
          Floor 5
          </button>
        </center>
    <ion-scroll zooming="true" direction="xy" style="width: 500px; height: 500px">
        <div style="width: 1800px; height: 1800px;">
          <img id="floorsplanmap"  src="maps\Floor{{floor}}.png" style="float:left">
        </div>
 </ion-scroll>
  </ion-content>
</ion-view>
